In [3]:
import pandas as pd
import numpy as np

In [5]:
college = pd.read_csv("data/college.csv")
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [7]:
college.shape

(7535, 27)

In [11]:
import os
os.chdir('경로') # '작업 디렉토리 변경. '경로'에 바꿀 경로을 입력하면 됨'

In [13]:
from IPython.display import display

In [21]:
with pd.option_context('display.max_rows', 8):
    display(college.describe(include=[np.number]).T)

            count      mean       std  min     25%      50%       75%  max
HBCU       7164.0  0.014238  0.118478  0.0  0.0000  0.00000  0.000000  1.0
MENONLY    7164.0  0.009213  0.095546  0.0  0.0000  0.00000  0.000000  1.0
WOMENONLY  7164.0  0.005304  0.072642  0.0  0.0000  0.00000  0.000000  1.0
RELAFFIL   7535.0  0.190975  0.393096  0.0  0.0000  0.00000  0.000000  1.0
...           ...       ...       ...  ...     ...      ...       ...  ...
CURROPER   7535.0  0.923291  0.266146  0.0  1.0000  1.00000  1.000000  1.0
PCTPELL    6849.0  0.530643  0.225544  0.0  0.3578  0.52150  0.712900  1.0
PCTFLOAN   6849.0  0.522211  0.283616  0.0  0.3329  0.58330  0.745000  1.0
UG25ABV    6718.0  0.410021  0.228939  0.0  0.2415  0.40075  0.572275  1.0

[22 rows x 8 columns]

In [33]:
college.describe(include=[object, pd.Categorical]).T # np.object_

                   count unique                       top  freq
INSTNM              7535   7535  Alabama A & M University     1
CITY                7535   2514                  New York    87
STABBR              7535     59                        CA   773
MD_EARN_WNE_P10     6413    598         PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038         PrivacySuppressed  1510

In [35]:
college.describe(include=['number']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [39]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [41]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [57]:
df.groupby(['Animal']).agg(['mean', 'sum', 'std', 'count', 'quantile'])

       Max Speed
            mean    sum       std count quantile
Animal
Falcon     375.0  750.0  7.071068     2    375.0
Parrot      25.0   50.0  1.414214     2     25.0

In [87]:
def f(i):
    print("sum: ", sum(i), )
    return "사랑의 수는 " + str(len(i)) +" 입니다, 합은 " + str(sum(i)) + "입니다"

In [89]:
df.groupby(['Animal']).agg(['mean', 'sum', 'std', 'count', 'quantile', f])

sum:  750.0
sum:  50.0

       Max Speed
            mean    sum       std count quantile                          f
Animal
Falcon     375.0  750.0  7.071068     2    375.0  사랑의 수는 2 입니다, 합은 750.0입니다
Parrot      25.0   50.0  1.414214     2     25.0   사랑의 수는 2 입니다, 합은 50.0입니다

In [93]:
list(map(lambda i : i+1, [1, 2, 3, 4] ))

[2, 3, 4, 5]

In [165]:
list(filter(lambda i : i%2==0, [1, 2, 3, 4] ))

[2, 4]

In [95]:
list_of_dictionary=[
    {"홍길동":[11,23,45,67,88],"이재오":[12,45,67,88,66]}, 
    {"홍길동":[111,213,415,617,818],"이재오":[122,425,627,828,626]}, 
    {"홍길동":[131,323,435,637,838],"이재오":[132,435,677,818,3]}, 
    {"홍길동":[6,8,1,7,9],"이재오":[12,-1,-2,88,-3]}, 
    {"홍길동":[34,77,66,67,-3],"이재오":[-78-45,-67,-88,-66]}
]
list_of_dictionary
# 문제) {홍길동 : [11, 23, 45, 67, 88 + ... + ],
# 이재오짝수 : [12, 88, 66 + ...],
# 이재오홀수 : [45, 67, ...]

[{'홍길동': [11, 23, 45, 67, 88], '이재오': [12, 45, 67, 88, 66]},
 {'홍길동': [111, 213, 415, 617, 818], '이재오': [122, 425, 627, 828, 626]},
 {'홍길동': [131, 323, 435, 637, 838], '이재오': [132, 435, 677, 818, 3]},
 {'홍길동': [6, 8, 1, 7, 9], '이재오': [12, -1, -2, 88, -3]},
 {'홍길동': [34, 77, 66, 67, -3], '이재오': [-123, -67, -88, -66]}]

In [99]:
abs(-11) # 절대값

11

In [255]:
def f(i):
    res = 0
    for v in i:
        res+=v
    return res

In [275]:
dict1={"홍길동": []}
for i in list_of_dictionary:
    dict1["홍길동"].append(f(i["홍길동"])) # == sum()
dict1

{'홍길동': [234, 2174, 2364, 31, 241]}

In [259]:
def split_odd_even(i):
    res_odd = []
    res_even = []
    for j in i :
        if(j%2==0): res_even.append(j)
        else: res_odd.append(j)
    return [res_odd, res_even]

In [273]:
dict1={"홍길동": [], "이재오짝수":[], "이재오홀수":[]}
for i in list_of_dictionary:
    dict1["홍길동"].append(f(i["홍길동"])) # == sum()
    v = split_odd_even(i['이재오'])
    dict1["이재오짝수"].append(v[1])
    dict1["이재오홀수"].append(v[0])
dict1

{'홍길동': [234, 2174, 2364, 31, 241],
 '이재오짝수': [[88, 66], [122, 828, 626], [132, 818], [12, -2, 88], [-88, -66]],
 '이재오홀수': [[67], [627], [435, 677, 3], [-1, -3], [-123, -67]]}

In [299]:
dict1={"홍길동": [], "이재오짝수":[], "이재오홀수":[]}
# {"홍길동": [f(j) for j in list_of_dictionary for j in i['홍길동']]}
res = {
    "홍길동" : [f(d["홍길동"]) for d in list_of_dictionary],
    "이재오짝수" : [f([x for x in d["이재오"] if x % 2 == 0]) for d in list_of_dictionary],
    "이재오홀수" : [f([x for x in d["이재오"] if x % 2 != 0]) for d in list_of_dictionary]
}
res

{'홍길동': [234, 2174, 2364, 31, 241],
 '이재오짝수': [154, 1576, 950, 98, -154],
 '이재오홀수': [67, 627, 1115, -4, -190]}

In [321]:
dict1={"홍길동": [], "이재오짝수":[], "이재오홀수":[]}
# {"홍길동": [f(j) for j in list_of_dictionary for j in i['홍길동']]}
res = {
    "홍길동" : list(map(lambda i : f(i["홍길동"]), list_of_dictionary)),
    "이재오짝수" : list(map(lambda i : f(split_odd_even(i["이재오"])[1]), list_of_dictionary)),
    "이재오홀수" : list(map(lambda i : f(split_odd_even(i["이재오"])[0]), list_of_dictionary)),
}
res

{'홍길동': [234, 2174, 2364, 31, 241],
 '이재오짝수': [154, 1576, 950, 98, -154],
 '이재오홀수': [67, 627, 1115, -4, -190]}

In [323]:
############################

In [373]:
list = [10, 20, 30]
list.append(40)
list

[10, 20, 30, 40]

In [375]:
list = [8, 2, 4, 6]
list.sort()
list

[2, 4, 6, 8]

In [377]:
list = [10, 9, 8]
list.reverse()
list

[8, 9, 10]

In [379]:
list = ['a','b','c','d','e','f']
list.index('f')

5

In [381]:
list = [2, 3]
list.insert(0, 1)
list

[1, 2, 3]

In [355]:
list = [100, 88, 99]
list.remove(88)
list

[100, 99]

In [363]:
list = [1, 2, 3, 'f']
print("pop : ", list.pop())
list

pop :  f

[1, 2, 3]

In [365]:
list = [1, 1, 1, 1, 1, 2, 3, 4, 4, 5]
list.count(1), list.count(4)

(5, 2)

In [371]:
list = [1, 2]
list.extend([3, 4])
list

[1, 2, 3, 4]

In [ ]:
##########################

In [383]:
arr2=[1, 2, 3, 4, 5]

In [385]:
arr2[::-1]

[5, 4, 3, 2, 1]

In [387]:
arr2[3:4]

[4]

In [389]:
str2 = "홍길동"
str2[:2]

'홍길'

In [391]:
str2 = "홍길동"
str2[::-1]

'동길홍'